
  <div class="row mt-4">
    <div class="card col-lg-4 mx-2" style="width: 250px;">
      <img
        src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Harry Potter and the Deathly Hallows: Part 2</h5>
        <p class="card-text">
          Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes
        </p>
        <!-- <a href="#" class="btn btn-warning">show/hide details</a> -->
        <a href="#" class="btn btn-primary">Watch</a>
      </div>
    </div>
    <div class="card col-lg-4 mx-2" style="width: 250px;">
      <img
        src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Harry Potter and the Deathly Hallows: Part 2</h5>
        <p class="card-text">
          Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes
        </p>
        <a href="#" class="btn btn-primary">Watch</a>
      </div>
    </div>
    <div class="card col-lg-4 mx-2" style="width: 250px;">
      <img
        src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Harry Potter and the Deathly Hallows: Part 2</h5>
        <p class="card-text">
          Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes
        </p>
        <a href="#" class="btn btn-primary">Watch</a>
      </div>
    </div>
    <div class="card col-lg-4 mx-2" style="width: 250px;">
      <img
        src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Harry Potter and the Deathly Hallows: Part 2</h5>
        <p class="card-text">
          Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes
        </p>
        <a href="#" class="btn btn-primary">Watch</a>
      </div>
    </div>
    <div class="card col-lg-4 mx-2" style="width: 250px;">
      <img
        src="https://m.media-amazon.com/images/M/MV5BMGVmMWNiMDktYjQ0Mi00MWIxLTk0N2UtN2ZlYTdkN2IzNDNlXkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Harry Potter and the Deathly Hallows: Part 2</h5>
        <p class="card-text">
          Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes
        </p>
        <a href="#" class="btn btn-primary">Watch</a>
      </div>
    </div>
   
  </div>

